.signIn {
    background:linear-gradient(
      to right,
      white 0%,
      white 50%,
      black 50%,
      black 100%
    );
    height: 100vh;
    
  }
h1{
  color: #FAA41E;
  text-align: right;
}
.feild{
  border: 10px;
  border-radius: 5px;
}
.loginButton{
  color: #FAA41E;

}