.datepikerstyle,.timepikerstyle{
    width: 100%;
    border: none;
    background-color: #d9d9d9;
    height: 40px;
  }

  .pickerwraper{
    border: 3px solid black;
    background-color: black;
    border-radius: 3px;
  }

  .allwraper{
    background-color: #ffa41c;
    padding: 30px 0 40px 0;
    margin: auto;
  }