body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.booking-form {

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.booking-form-container {

  background-color: black;
  border-radius: 8px;
  height: auto;
  width: 30%;
  opacity: 0.8;
}
