@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;300;400;500;600;700&display=swap');

.stacticv-top{
    margin-top: 2rem;
    margin-left: 2rem;
    display: inline-flex;
  
}

.booked-slots-container{
    /* background-color: rgb(207, 10, 10); */
    width:20rem;
    height: 16vh;
    margin-right: 5rem;
    box-shadow: 5px 10px 8px #888888;
}

.booked-slots-icon{
    float: left;
  
}
.booked-slots-num{
   
    font-size: 53px;
    font-weight: bold; 
    text-align: right;  
    margin-right: 10px;    
}
.booked-slots{
    text-align: right;
    margin-right: 10px; 

}


.available-slots-container{
    /* background-color: green; */
    width:20rem;
    height: 16vh;
    margin-right: 5rem;
    box-shadow: 5px 10px 8px #888888;
}
.available-slots-icon{
    float: left; 

}
.available-slots-num{
    font-size: 53px;
    font-weight: bold; 
    text-align: right;  
    margin-right: 10px;   
}
.available-slots{
    text-align: right;
    margin-right: 10px; 
}


.date-time-container{
    /* background-color: yellow; */
    padding: 1rem;
    width:20rem;
    margin-right: 5rem;
    font-size: 25px;
    box-shadow: 5px 10px 8px #888888;
    
}
.date-time-date{
    float: left;
    padding-right: 2rem;
}
.date-time-time{
    float: left;
    padding-right: 2rem;
}
.date-time-dnum{
    font-weight: bold;
}
.date-time-tnum{
    font-weight: bold;
}

.booking-and-cancel{
    margin-left: 3rem;
    margin-top: 2rem;
   
   
}

.total-revenue{
   
    margin-left: 2rem;
    margin-top: 2rem;
}

.refund{
    margin-left: 2rem;
    margin-top: 2rem;  
}

.btn-gen-report{
    background-color: rgba(222,139,9,0.5);
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: .06rem;
    color: black;
    font-weight:bold;
    padding: .4rem .9rem;
    text-align: center;
    text-decoration: none;
    margin: .25rem .125rem;
    cursor: pointer;
    border-radius: 1.0625rem;
}

 .btn-gen-report:hover{
    background-color:rgba(211,211,211,0.5);
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    background-image: url("../../Assets/report-pana.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.25rem;
    border-radius: 0.313rem;
    box-shadow: 0 0.125rem .25rem rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 40%
  }
  
  .popup-content .close-button {
    margin-top: 0.5rem;
    margin-left: 18rem;
    padding: .1rem .2rem;
    border-radius:10% ;
    background-color: rgba(222,139,9,0.5);
  }
  .popup-content .close-button:hover{
    background-color:rgba(238, 193, 193, 0.59);
  }
  
  .date-range-picker {
    font-family: 'Saira Condensed', sans-serif;
    margin-left: 2rem;
    font-weight: 600;
  }

  

  .date-range-picker .form-group{
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: .7rem;
    row-gap: 0.1rem;
  }

  .date-range-picker .form-group .to-date{
    margin-left: 1rem;
  }
  
  .date-range-picker .form-group #from-date{
    width: 100%;
    background: rgba(211,211,211,0.5);
    border-radius: .2rem;
    padding: .1rem;
    padding-left: .4rem;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: .15rem;
  }
  
  .date-range-picker .form-group #to-date{
    width: 100%;
    background: rgba(211,211,211,0.5);
    border-radius: .2rem;
    padding: .1rem;
    padding-left: .4rem;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: .15rem;
  }

  .date-range-picker .btn-containter{
   padding-top: 10%;
   padding-left:38% ;
  }

  .date-range-picker .btn-cancel{
    background-color: black;
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: .07rem;
    color: white;
    font-weight:600;
    padding: .3rem .8rem;
    text-align: center;
    text-decoration: none;
    margin: .25rem .125rem;
    cursor: pointer;
    border-radius: 17px;
  }
  .date-range-picker .btn-cancel:hover{
    background-color:rgba(238, 193, 193, 0.59);
  }

  .date-range-picker .btn-generate{
    background-color: rgba(222,139,9,0.5);
      border: none;
      font-family: 'Saira Condensed', sans-serif;
      letter-spacing: .07rem;
      color: black;
      font-weight:600;
      padding: .3rem .5rem;
      text-align: center;
      text-decoration: none;
      margin: .25rem .125rem;
      cursor: pointer;
      border-radius: 17px;
    }

    .date-range-picker .btn-generate:hover{
        background-color:rgba(211,211,211,0.5);
      }
