.container {
  display: flex;
  
}


.sidebar {
 height: 725px;
  width: 50px;
  background-color: #f0f0f0;
  transition: width 0.3s;
}

.sidebar .top_section {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ccc;
}

.sidebar .top_section .logo {
  display: none;
}

.sidebar .top_section .bars {
  cursor: pointer;
}

.sidebar .link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.sidebar .link:hover {
  background-color: #ddd;
}

.sidebar .link .icon {
  margin-right: 10px;
}

.sidebar .link .link_text {
  display: none;
}

.sidebar .link.active {
  background-color: #aaa;
  color: #fff;
}

.sidebar.open {
  width: 250px;
}

.sidebar.open .top_section .logo {
  display: block;
  margin-left: 10px;
  color: #333;
}

.sidebar.open .link .link_text {
  display: block;
  margin-left: 10px;
}
