body {
   
    background: white
    
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
 
  
  button {
    background: #FAA41E!important;
  }
  p {
    color: red;
  }