
 @import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

 .form {
  padding-top: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form-container {
  width: 800px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
 
}

.mb-3{
  height: 30px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  font-size: 14px;
  
} 
/* PROGRESS BAR  */

.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #faa41e;
}
