
.logo-section{
    display: flex;
    justify-content: center;
    
}
  
.logo{
    width: 70px;
    height: 70px;
}
.logo-name{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.yell{
    color: #FAA41E;
}
  
.blk{
    color: #000;
}
  
  .text1 {
    color: #FAA41E;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text{
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;  
    margin-left: 10vh;
    
  }
 
  
  
  .start {
    background-color: #F8D297;
    color: #000;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30vh;
    margin-left: 10vh;
  }
  
  .start:hover {
    background-color: #000;
    color: #fff;
  }
  .section{
    height: 100vh;
  }
  .section-title{
    background-color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
  }
  .two-column-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 50%; /* Adjust the width of each column */
  }
  
  .video-wrapper {
    padding-top: 200px;
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio for 16:9 video */
    overflow: hidden;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  