label {
  margin-bottom: 10px;
  font-weight: bold;
}

textarea {
  height: 150px;
  resize: vertical;
  margin-bottom: 20px;
}

button {
  background-color: #faa41e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.Feedback_form {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 550px;
  background-color: white;
  border-radius: 8px;
  margin-left: -300px;
  margin-top: 5vh;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
