.Refunds{
    height: 100vh;
    margin-top: 150px;

}
.title-bar{
    background-color: #1f1d1d;
    padding: 10px;
   
}
.title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    
}

.cont{
    font-weight: bold;
    font-size: 25px;
    
}

.Refunds-img{
    width: 577px;
    height: 181px;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
